*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    color: white;
    padding: 15px;
   
  
}
a{
    text-decoration: none;
    color: white;
    padding: 15px;
    display: block;
}
ul{
    display: flex
}
li{
    list-style: none;
}
li:hover{
  background-color:#34495e;
}
.logo{
    cursor: pointer;
}

