*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'open sans',sans-serif;
    font-size: 25px;
    color: black;
}
#container{
    width: 100vw;
    height: 100vh;
    background-color: grey;
    position: relative;
}
#box{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#spinner{
    height: 50px;
    width: 50px;
    /* px type color*/
    border: 4px solid white;
    /* for loading using white on top*/
    border-top: 4px solid black;
    border-radius: 50px;
    margin-left: 35%;
    transition-property: transform;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}
@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
    
}