@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sixtyfour&display=swap");


*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

#box{
    background-color: black;
    height: 300px;
    width: 300px;
}

button{

}